<h1>review this rstaun</h1>
<div class="container text-left mt-4">
  <div class="row justify-content-center">
      <%= simple_form_for [@restaurant, @review] do |f| %>

      <%= f.input :content %>
      <%= f.input :rating %>

      <%= f.submit "Create" %>
      <% end %>
  </div>
</div>
